<!--头部-->
<div class="header">
    <div class="w700 mauto">
        <div class="logobox fl">
            <a href="/">天涯浪子画中画</a>
        </div>
        <div class="navlist fr">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="javascript:void(0);">文章</a></li>
                <li><a href="javascript:void(0);">案例</a></li>
                <li><a href="javascript:void(0);">个人作品</a></li>
                <li><a href="javascript:void(0);">关于我</a></li>
            </ul>
        </div>
    </div>    
</div>
<!--end 头部-->
